section.wrapper{
    text-align: center;
}
canvas {
    display: inline;
    outline: 1px solid black;
    max-height: 100vh;
    max-width: 100vw;
}

button.shop_btn{
    position: absolute;
    top: 4%;
    left: 28%;
    background-color: rgb(9, 126, 126);
    border: none;
    color: white;
    font-size: 18px;
    text-decoration: none;
    width: 10%;
    height: 10%;
    max-height: 100vh;
    max-width: 100vw;
    border-radius: 8%;
}

button.cave_btn{
    position: absolute;
    top: 40%;
    left: 68%;
    background-color: green;
    border: none;
    color: white;
    font-size: 18px;
    text-decoration: none;
    border-radius: 8%;
    width: 10%;
    height: 10%;
    max-height: 100vh;
    max-width: 100vw;
}

h1.class{
  position: absolute;
  left: 47%;
  top: 0%;

}

.arrow-button-right {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #ccc;
    cursor: pointer;
    position: absolute;
    transition: all 0.2s ease-in-out;
    left: 75%;
    top: 50%;
    /* add other button styles here, such as padding, background, etc. */
  
  }
  
  .arrow-button-right:hover {
    transform: translateX(5px);
    /* add other hover styles here */
  }

  .arrow-button-left {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #ccc;
    cursor: pointer;
    position: absolute;
    transition: all 0.2s ease-in-out;
    left: 25%;
    top: 50%;
    /* add other button styles here, such as padding, background, etc. */
  
  }
  
  .arrow-button-left:hover {
    transform: translateX(-5px);
    /* add other hover styles here */
  }

  form {
    position: absolute;
    
    top: 85%;
    left: 43%;
  }

  .star-btn {
    display: inline-block;
    width: 5em;
    height: 5em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;

    position: absolute;
    
    top: 13%;
    left: 26%;
    
  }

  .star-btn:hover  {
    transform: scale(1.2);
  }


  .half-moon-btn {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #ff8c00; /* Choose your own color */
    color: white; /* Choose your own color */
    font-size: 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 13%;
    left: 70%;
  }
  
  .half-moon-btn:hover {
    transform: scale(1.2);
    
  }

  .back-button-doors {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #ccc;
    cursor: pointer;
    position: absolute;
    transition: all 0.2s ease-in-out;
    left: 5%;
    top: 5%;
    /* add other button styles here, such as padding, background, etc. */
  
  }
  
  .back-button-doors:hover {
    transform: translateX(-5px);
    /* add other hover styles here */
  }

  .back-button-shop {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #ccc;
    cursor: pointer;
    position: absolute;
    transition: all 0.2s ease-in-out;
    left: 5%;
    top: 5%;
    /* add other button styles here, such as padding, background, etc. */
  
  }
  
  .back-button-shop:hover {
    transform: translateX(-5px);
    /* add other hover styles here */
  }
  
  #playersHealthBar {
    position: absolute;
    width: 300px;
    height: 20px;
    left: 17%;
    top: 40%;
    background-color: green;
  }

  #enemiesHealthBar {
    position: absolute;
    width: 300px;
    height: 20px;
    left: 60%;
    top: 40%;
    background-color: green;
  }

  button.attack_btn{
    position: absolute;
    top: 75%;
    left: 22%;
    background-color: green;
    border: none;
    color: white;
    font-size: 18px;
    text-decoration: none;
    border-radius: 8%;
    width: 10%;
    height: 10%;
    max-height: 100vh;
    max-width: 100vw;
}
  
